<header id="main-header">
    <nav>
        <a href="/" class="<%= path === '/' ? 'active' : '' %>">Homepage</a>
        <a href="/users" class="<%= path === '/users' ? 'active' : '' %>"
            >Users</a
        >
    </nav>
</header>
